body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

.meun{
   color: #000;
   text-decoration: none;
}

  .meun:hover{
    color: #23cc31;
  }